<h1>IdeaCAGE</h1>
<form class="FORM-STUFF" action="/" method="POST">
  <p>
    Your Idea:
  </p>
  <div id="input_idea">
    <input id="title" type="text" name="idea[title]" placeholder="title"/><br/>
    <textarea id="desc" name="idea[description]" placeholder="description"></textarea><br/>
    <input id="tag" type="text" name="idea[tag]" placeholder="tag"><br/>
    <input id ="button" type="submit"/>
  </div>
</form>
<div id="existing-ideas">
  <h3>Existing Ideas</h3>
  <a href="/tags">Sort by Tags</a>
  <%= partial :'partials/idea', :collection => ideas %>
</div>
