<html>
  <head>
    <title>IdeaCAGE</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <%= yield %>
  </body>
<a href="/">Home Page</a>
</html>
